:root {
  --fb: #3b5998;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 16px = 1rem = 1em = 100% */

/* p {
  font-size: 300%;
} */
/* html {
  font-size: 8em;
}
div {
  font-size: 8.5rem;
}
div p {
  font-size: 1rem;
  color: var(--fb);
} */
table {
  border-collapse: collapse;
}
td,
th {
  border: 1px solid;
}
